.header {
  background-color: #353a40;
  display: flex;
  align-items: center;
}

.header_title {
  color: hsl(0deg 0% 100%);
  font-size: 16px;
  font-weight: 400;
  margin: 12px;
}

.header_link {
  padding: 5px;
  color: rgb(160, 157, 157);
  text-decoration: none;
  font-size: 14px;
}

nav .active{
  color:white;
}

.header_link:hover{
  color:aqua;
}

.wrapper_article{
  width: 1110px;
  margin:auto;
}

.header_article{
  display: flex;
    justify-content: space-between;
    align-items: center;

}

.button{
  background-color: #0179ff;
  border-radius: 4px;
  padding: 8px;
  border: none;
  margin: 2px;
  cursor: pointer;
}

.button_card{
  border: 1px rgb(80, 79, 79) solid;
  background-color: transparent;
  color: rgb(80, 79, 79);
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: center;
}

.smallCard {
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  min-height: 150px;
  width: 30%;
}

.bigCard {
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  min-height: 150px;
  width: 47%;
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grayCard {
  background-color: gray;
  color: black;
  }

.blackCard {
  color: white;
  background-color: black;
}

.orangCard{
  background-color: #e2ab67;
  color: #4932cc;
}

.purpleCard {
  color: rgb(26, 150, 39);
  background-color: rgb(225, 162, 225);
}
.card_title {
  padding: 10px;
}

.card_text{
  padding: 10px;
}

.photos {
  width: 100%;
}